# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=homebudget
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Telegram Bot Configuration
TELEGRAM_BOT_USERNAME=your_bot_username
TELEGRAM_BOT_TOKEN=your_bot_token_from_botfather

# Server Configuration
SERVER_PORT=8080

# Logging Configuration
LOG_LEVEL=DEBUG
TELEGRAM_LOG_LEVEL=INFO
SQL_LOG_LEVEL=DEBUG
SHOW_SQL=false
